{% extends './admin_base.html' %} {% load static %} {% block content %}

<div class="page-header">
  <div class="row">
    <div class="col-md-6 col-sm-12">
      <div class="title">
        <h4>Dashbord</h4>
      </div>
      <nav aria-label="breadcrumb" role="navigation">
        <ol class="breadcrumb">
          <li class="breadcrumb-item">
            <a href="{% url 'school:home' %}">Home</a>
          </li>
          <li class="breadcrumb-item active" aria-current="page">Students</li>
        </ol>
      </nav>
    </div>
	<div class="col-md-6 col-sm-12 text-right">
        <button
          type="button"
          class="btn btn-secondary margin-5"
          data-toggle="tooltip"
          data-placement="top"
          title="Student's"
        >
           {{ all_students }}
        </button>
    </div>
  </div>
</div>

<!-- Simple Datatable start -->
<div class="card-box mb-30 mt-4">
  <div class="pd-20 mt-4">
    <h4 class="text-dark h4">Student Table</h4>
  </div>
  <div class="pb-20 mt-4">
    <table id="students" class="table stripe hover nowrap">
      <thead>
        <tr>
          <th class="table-plus datatable-nosort">FirstName</th>
          <th>LastName</th>
          <th class="text-center" >RollNo</th>
          <th class="datatable-nosort">Action</th>
        </tr>
      </thead>
      <tbody>
		  {%  for student in students %}
        <tr>
          <td class="table-plus">{{ student.first_name }}</td>
          <td>{{ student.last_name }}</td>
          {% if student.student.roll_number  %}
          <td class="text-center">{{ student.student.roll_number }}</td>
          {%  else %}
          <td class="text-danger text-center" > Uncomplete Registration </td>
          {% endif %}
          <td>
            <div class="dropdown">
              <a
                class="btn btn-link font-24 p-0 line-height-1 no-arrow dropdown-toggle"
                href="#"
                role="button"
                data-toggle="dropdown"
              >
                <i class="dw dw-more"></i>
              </a>
              <div
                class="dropdown-menu dropdown-menu-right dropdown-menu-icon-list"
              >
                <a class="dropdown-item" href="{% url 'school:student_profile' student_id=student.id %}"
                  ><i class="dw dw-eye"></i> View</a
                >
                
                <a class="dropdown-item" id="delete-student" data-student-id="{{ student.id }}" href="#"
                  ><i class="dw dw-delete-3"></i> Delete</a
                >
              </div>
            </div>
          </td>
        </tr>
	  	{% endfor %}
      </tbody>
    </table>
  </div>
</div>
<!-- Simple Datatable End -->

<!-- Medium modal -->
<div class="col-md-4 col-sm-12 mb-30">
  
    <div class="modal fade" id="add-student-modal" tabindex="-1"  role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
          <div class="modal-header">
            <h4 class="modal-title" id="myLargeModalLabel">Register User</h4>
            <button
              type="button"
              class="close"
              data-dismiss="modal"
              aria-hidden="true"
            >
              ×
            </button>
          </div>
          <div class="modal-body">
            <p>
              Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do
              eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut
              enim ad minim veniam, quis nostrud exercitation ullamco laboris
              nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in
              reprehenderit in voluptate velit esse cillum dolore eu fugiat
              nulla pariatur. Excepteur sint occaecat cupidatat non proident,
              sunt in culpa qui officia deserunt mollit anim id est laborum.
            </p>
          </div>
          <div class="modal-footer">
            <button
              type="button"
              class="btn btn-secondary"
              data-dismiss="modal"
            >
              Close
            </button>
            <button type="button" class="btn btn-primary">Save changes</button>
          </div>
        </div>
      </div>
    </div>
 
</div>

{% endblock %}
